<!-- Modal -->
<div class="modal fade" id="agregarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" #closeBtn >&times;</button>
                <h4 class="modal-title" id="myModalLabel">Nuevo Usuario</h4>
            </div>
             <form name="form"
                   (ngSubmit)="f.form.valid
                    && addUsuario();
                    nombre_de_usuario.value = '';
                    nombre.value = '';
                    apellido.value = '';" #f="ngForm" novalidate>

                <div class="modal-body">
                   <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nombre.valid }">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="userFirstName" #nombre="ngModel" required (keyup)="autoCompletarUserName()"/>
                        <div *ngIf="f.submitted && !nombre.valid" class="help-block">Ingresar el nombre</div>
                    </div>

                    <div class="form-group" [ngClass]="{'has-error': f.submitted && !apellido.valid}">
                        <label>Apellido: </label>
                        <input type="text" class="form-control" name="apellido"  [(ngModel)]='userLastName' #apellido="ngModel" required (keyup)="autoCompletarUserName()" />
                        <div *ngIf="f.submitted && !apellido.valid" class="help-block">Ingresar el apellido</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nombre_de_usuario.valid }">
                        <label >Nombre de usuario:</label>
                        <input type="text" class="form-control" name="nombre_de_usuario"  autocomplete="off" [(ngModel)]="userName" #nombre_de_usuario="ngModel"  required />
                        <div *ngIf="f.submitted && !nombre_de_usuario.valid" class="help-block">Ingresar un nombre de usuario.</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contrasenia.valid }">
                        <label >Contraseña:</label>
                        <input type="password" class="form-control" name="contrasenia" autocomplete="new-password" [(ngModel)]="password" #contrasenia="ngModel"  required />
                        <div *ngIf="f.submitted && !contrasenia.valid" class="help-block">Ingresar una contraseña.</div>
                    </div>
                </div>

            <div class="modal-footer">
                <button class="btn btn-success">
                    Agregar Nuevo
                </button>
            </div>
        </form>

    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

</div>
<!-- /.modal -->
