<!-- Modal -->
<div class="modal fade" id="editarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" *ngIf="selectedUsuario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" #botonCerrar >&times;</button>
        <h4 class="modal-title" id="myModalLabel">Editar Usuario</h4>
      </div>
      <form name="form" (ngSubmit)="f.form.valid && editUsuario(); nombre.value = '';" #f="ngForm" novalidate>
        <div class="modal-body">

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nombre.valid }">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]='selectedUsuario.firstName' #nombre="ngModel" required />
            <div *ngIf="f.submitted && !nombre.valid" class="help-block">Ingresar nombre</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !apellido.valid }">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" name="apellido" [(ngModel)]='selectedUsuario.lastName' #apellido="ngModel" required />
            <div *ngIf="f.submitted && !apellido.valid" class="help-block">Ingresar apellido</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
            <label for="userName">Apellido:</label>
            <input type="text" class="form-control" name="userName" [(ngModel)]='selectedUsuario.username' #userName="ngModel" required />
            <div *ngIf="f.submitted && !userName.valid" class="help-block">Ingresar nombre de usuario</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contrasenia.valid }">
            <label for="contrasenia">Contraseña:</label>
            <input type="text" class="form-control" name="contrasenia" [(ngModel)]='selectedUsuario.password' #contrasenia="ngModel"  />
            <div *ngIf="f.submitted && !contrasenia.valid" class="help-block">Ingresar una contraseña</div>
          </div>

        </div>
        <div class="modal-footer">
          <button
                  class="btn btn-success">
            Guardar Edicion
          </button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

