<!-- Page Content -->
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class='page-header'>
                <div class='btn-toolbar pull-right'>
                    <div class='btn-group'>
                        <button *ngIf="checkPermission(['usuarios:write'])"
                                type='button'
                                class='btn btn-primary btn-lg'
                                data-toggle="modal"
                                data-target="#agregarUsuarioModal">
                            Nuevo Usuario
                        </button>
                    </div>
                </div>
                <h2>Usuarios</h2>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-body">
                <div class="row">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <!--<div class="panel-heading">-->
                                <!--<div>-->
                                    <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseEmpresas" aria-expanded="true" class="">-->
                                        <!--<strong style="text-decoration: none;color: #333;">Administración de Usuarios</strong>-->
                                        <!--<div class = 'pull-left'>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div id="collapseEmpresas" class="panel-collapse collapse in" aria-expanded="true" style="">
                                <div class="panel-body">
                                    <div [ngClass]="{'col-lg-7': selectedUsuario, 'col-lg-12': !selectedUsuario}">
                                        <div class="table-responsive">
                                            <!-- <table class="table table-striped table-hover">-->
                                            <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                                <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                                            </div>
                                            <p-dataTable [value]="usuarios" [rows]="10" [paginator]="true"
                                                         [globalFilter]="gb" #dt selectionMode="single" [(selection)]="selectedUsuario" dataKey="_id"
                                                         (onRowSelect)="onRowSelect($event)">

                                                <p-column field="firstName" header="Nombre" [sortable]="true"></p-column>
                                                <p-column field="lastName" header="Apellido" [sortable]="true"></p-column>
                                                <p-column field="username" header="Nombre de usuario" [sortable]="true"></p-column>
                                                <p-footer><div style="text-align: left">Usuario seleccionado: {{selectedUsuario ? selectedUsuario.username : 'none'}}</div></p-footer>
                                            </p-dataTable>

                                            <!--<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">-->
                                                <!--<thead>-->
                                                <!--<tr>-->
                                                    <!--<th>Id</th>-->
                                                    <!--<th>Nombre de Usuario</th>-->
                                                    <!--<th>Nombre</th>-->
                                                    <!--<th>Apellido</th>-->
                                                <!--</tr>-->
                                                <!--</thead>-->
                                                <!--<tbody>-->
                                                <!--<tr *ngFor="let usuario of usuarios" (click)="onSelect(usuario)"-->
                                                    <!--[class.selected]="usuario === selectedUsuario">-->
                                                    <!--<td>{{usuario._id}}</td>-->
                                                    <!--<td>{{usuario.username}}</td>-->
                                                    <!--<td>{{usuario.firstName}}</td>-->
                                                    <!--<td>{{usuario.lastName}}</td>-->
                                                <!--</tr>-->
                                                <!--</tbody>-->
                                            <!--</table>-->
                                        </div>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->


                                    <div class="col-lg-5">
                                        <div class="panel panel-default" *ngIf="selectedUsuario">
                                            <div class="panel-heading"  style="font-size: large" >
                                                Usuario Seleccionado
                                                <button class="pull-right" (click)="onClean()">X</button>
                                            </div>

                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td><strong>Nombre</strong></td>
                                                                <td>
                                                                    <input [(ngModel)]='selectedUsuario.firstName' class='form-control' [readonly]='usuarioEdit'>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Apellido</strong></td>
                                                                <td>
                                                                    <input [(ngModel)]='selectedUsuario.lastName' class='form-control' [readonly]='usuarioEdit'>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Nombre de Usuario</strong></td>
                                                                <td>
                                                                    <input [(ngModel)]='selectedUsuario.username' class='form-control' [readonly]='usuarioEdit'>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Contraseña</strong></td>
                                                                <td>
                                                                    <input type="password" [(ngModel)]='selectedUsuario.password' class='form-control' [readonly]='usuarioEdit'>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <br>
                                                <br>
                                                <br>

                                                <button *ngIf="checkPermission(['usuarios:write'])" type="button"
                                                        class="btn btn-warning"
                                                        data-toggle="modal"
                                                        data-target="#editarUsuarioModal"
                                                        (click)="onEdit(true)">
                                                    Editar Usuario
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Agregar Usuario -->
        <agregar-usuario (nuevoUsuario)="onAddUsuario($event)"></agregar-usuario>


        <!--&lt;!&ndash; Agregar Empresa &ndash;&gt;-->
        <editar-usuario
                [selectedUsuario] = 'selectedUsuarioLocal'
                (usuarioEditado)="onSave($event)"></editar-usuario>




    </div>
    <div class="row" *ngIf="selectedUsuario && checkPermission(['usuarios:write'])">
        <div class="col-lg-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Permisos
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table  class="table table-striped table-bordered table-hover" id="dataTables-permisos">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Permiso</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let permission of permissions">
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input [disabled]="!permisionEdit" type="checkbox" (click)="setPermissions(permission)" [checked]="hasPermision(permission._id)">
                                            </label>
                                        </div>
                                    </td>
                                    <td>{{permission.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
                <button class="btn btn-primary" *ngIf="!permisionEdit" (click)="editPermissions()">
                    Editar permisos
                </button>
                <button class="btn btn-warning" *ngIf="permisionEdit" (click)="editPermissions()">
                    Cancelar
                </button>
                <button class="btn btn-success" *ngIf="permisionEdit" (click)="savePermissions()">
                    Aceptar
                </button>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    </div>
    <!-- /#page-wrapper -->