
<div [@routerTransition]>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class='page-header'>
                    <h2>Asignar Medico</h2>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-12">
                    <div class="card card-default mb-3">
                        <div class="card-header">
                            <div>
                                <a>
                                    <strong style="text-decoration: none;color: #333;">Asignar Clinica a Medico</strong>
                                    <div class = 'pull-left'>
                                    </div>
                                    <button
                                        pButton
                                        *ngIf = "!selectedMedico || !selectedMedico"
                                        class="ui-button-primario pull-right"
                                        label="Nueva Asignación"
                                        icon="fas fa-plus"
                                        disabled>
                                    </button>
                                    <button
                                        pButton
                                        *ngIf = "selectedMedico && selectedClinica"
                                        class="ui-button-primario pull-right"
                                        label="Nueva Asignación"
                                        icon="fas fa-plus"
                                        (click)="cargarClinica()">
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                    
                            <!-- SELECCIONAR MEDICO -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card card-default mb-3">
                                        <div class="card-header">
                                            <div>
                                                <a>
                                                    <strong style="text-decoration: none;color: #333;">Seleccione un Medico</strong>
                                                    <div class = 'pull-left'>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p-table #dt [columns]="colsMedicos" 
                                                        [value]="medicos" 
                                                        selectionMode="single" [(selection)]="selectedMedico"
                                                        [scrollable]="true" scrollHeight="200px"
                                                        (onRowSelect)="getClinicas($event)">
                                                <ng-template pTemplate="caption">
                                                        <div style="text-align: right">        
                                                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                                        <input type="text" pInputText size="50" placeholder="Filtro" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                                    </div>
                                                </ng-template>
                                                <ng-template pTemplate="header" let-columns>
                                                    <tr>
                                                        <th *ngFor="let col of columns">
                                                            {{col.header}}
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th *ngFor="let col of columns" [ngSwitch]="col.field">                                                        
                                                            <input *ngSwitchCase="'dni'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"  style="width:100%">
                                                            <input *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"  style="width:100%">
                                                            <input *ngSwitchCase="'apellido'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"  style="width:100%">
                                                            <input *ngSwitchCase="'telefono'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"  style="width:100%">
                                                            <input *ngSwitchCase="'matricula'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"  style="width:100%">
                                                        
                                                        </th>
                                                    </tr>
                                                </ng-template>

                                                <ng-template pTemplate="body" let-medico let-columns="columns">
                                                    <tr [pSelectableRow]="medico">
                                                        <td *ngFor="let col of columns">
                                                                {{medico[col.field]}}
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                        <div class="card-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        

                        <!-- SELECCIONAR CLINICA -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-default mb-3">
                                    <div class="card-header">
                                        <div>
                                            <a>
                                                <strong style="text-decoration: none;color: #333;">Seleccione una Clinica</strong>
                                                <div class = 'pull-left'>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p-table #dt [columns]="colsClinicas" 
                                                    [value]="clinicas" 
                                                    [scrollable]="true" scrollHeight="200px"
                                                    selectionMode="single" [(selection)]="selectedClinica">
                                            <ng-template pTemplate="caption">
                                                    <div style="text-align: right">        
                                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                                    <input type="text" pInputText size="50" placeholder="Filtro" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th *ngFor="let col of columns">
                                                        {{col.header}}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th *ngFor="let col of columns" [ngSwitch]="col.field">                                                        
                                                        <input *ngSwitchCase="'cuit'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"  style="width:100%">
                                                        <input *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"  style="width:100%">
                                                        <input *ngSwitchCase="'direccion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"  style="width:100%">
                                                        <input *ngSwitchCase="'telefono'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"  style="width:100%">
                                                        <input *ngSwitchCase="'email'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"  style="width:100%">
                                                    
                                                    </th>
                                                </tr>
                                            </ng-template>

                                            <ng-template pTemplate="body" let-clinica let-columns="columns">
                                                <tr [pSelectableRow]="clinica">
                                                    <td *ngFor="let col of columns">
                                                            {{clinica[col.field]}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                    <div class="card-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


