
<div [@routerTransition]>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class='page-header'>
                    <h2>Pacientes</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-default mb-3">
                    <div class="card-header">
                        <div>
                            <a>
                                <strong style="text-decoration: none;color: #333;">Administración de Pacientes</strong>
                                <div class = 'pull-left'>
                                </div>
                            </a>
                            <button
                                pButton
                                class="ui-button-primario pull-right"
                                label="Nuevo Paciente"
                                icon="fas fa-plus"
                                (click)="mostrarModalAgregarPaciente()">
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <p-table #dt [columns]="cols" [value]="pacientes" selectionMode="single" [(selection)]="selectedPaciente">
                            <ng-template pTemplate="caption">
                                 <div style="text-align: right">        
                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                    <input type="text" pInputText size="50" placeholder="Filtro" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                </tr>
                                <tr>
                                  <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                     <input *ngSwitchCase="'dni'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                     <input *ngSwitchCase="'apellido'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                     <input *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                     <input *ngSwitchCase="'telefono'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                     <input *ngSwitchCase="'direccion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                     <input *ngSwitchCase="'barrio'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                     <input *ngSwitchCase="'fechaNacimiento'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                                    
                                  </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-paciente let-columns="columns">
                                <tr [pSelectableRow]="paciente">
                                    <td *ngFor="let col of columns">
                                            {{paciente[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                
                        

                    </div>
                    <div class="card-footer">
                        <div class="pull-right">
                            <!--Boton Editar (Deshabilitado)-->
                                <button
                                    pButton
                                    *ngIf="!selectedPaciente"
                                    class="ui-button-warning"
                                    label="Editar"
                                    icon="fas fa-pencil-alt"
                                    disabled>
                                </button>

                            <!--Boton Editar (Habilitado)-->
                                <button
                                    pButton
                                    *ngIf="selectedPaciente"
                                    class="ui-button-warning"
                                    label="Editar"
                                    icon="fas fa-pencil-alt"
                                    data-toggle="modal"
                                    data-target="#"
                                (click)="mostrarModalEditar(selectedPaciente)">
                                </button>
                            
                            &nbsp;
                        
                            <!--Boton Eliminar (Deshabilitado)-->
                                <button
                                    pButton
                                    *ngIf="!selectedPaciente"
                                    class="ui-button-danger"
                                    label="Eliminar"
                                    icon="fas fa-times"
                                    disabled>
                                </button>

                            <!--Boton Eliminar (Habilitado)-->
                                <button
                                    pButton
                                    *ngIf="selectedPaciente"
                                    class="ui-button-danger"
                                    label="Eliminar"
                                    icon="fas fa-times"
                                    data-toggle="modal"
                                    data-target="#"
                                    (click)="eliminarPaciente()">
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL AGREGAR MEDICO -->
<p-dialog [(visible)]="modalAgregarPaciente" [width]="400" [contentStyle]="{'max-height':'40%'}" paciente="selectedPaciente" >
    <p-header>
        Nuevo Paciente
    </p-header>

    <form name="form" (ngSubmit)="f.form.valid && cargarPaciente(dniPaciente.value,nombrePaciente.value,apellidoPaciente.value, telefonoPaciente.value, direccionPaciente.value,fechaNacimiento.value, barrio.value, f);" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !dniPaciente.valid }" >
            <label for="dniPaciente">DNI:</label>
            <input type="text" id="dniAgregar" class="form-control" name="dniPaciente" [(ngModel)]="model.dniPaciente" #dniPaciente="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !dniPaciente.valid" role="alert" class="alert alert-danger">Ingresar el DNI del Paciente</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nombrePaciente.valid }">
            <label for="nombrePaciente">Nombre:</label>
            <input type="text" id="nombreAgregar" class="form-control" name="nombrePaciente" [(ngModel)]="model.nombrePaciente" #nombrePaciente="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !nombrePaciente.valid" role="alert" class="alert alert-danger">Ingresar el Nombre del Paciente</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !apellidoPaciente.valid }">
            <label for="apellidoPaciente">Apellido:</label>
            <input type="text" id="apellidoAgregar" class="form-control" name="apellidoPaciente" [(ngModel)]="model.apellidoPaciente" #apellidoPaciente="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !apellidoPaciente.valid" role="alert" class="alert alert-danger">Ingresar el Apellido del Paciente</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !telefonoPaciente.valid }">
            <label for="telefonoPaciente">Telefono:</label>
            <input type="text" id="telefonoAgregar" class="form-control" name="telefonoPaciente" [(ngModel)]="model.telefonoPaciente" #telefonoPaciente="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !telefonoPaciente.valid" role="alert" class="alert alert-danger">Ingresar el Telefono del Paciente</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !direccionPaciente.valid }">
            <label for="direccionPaciente">Direccion:</label>
            <input type="text" id="direccionAgregar" class="form-control" name="direccionPaciente" [(ngModel)]="model.direccionPaciente" #direccionPaciente="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !direccionPaciente.valid" role="alert" class="alert alert-danger">Ingresar el Direccion del Paciente</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fechaNacimientoPaciente.valid }">
            <label for="fechaNacimientoPaciente">Fecha de Nacimiento:</label>
            <input type="date" id="fechaNacimientoAgregar" class="form-control" name="fechaNacimientoPaciente" [(ngModel)]="model.fechaNacimientoPaciente" #fechaNacimientoPaciente="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !fechaNacimientoPaciente.valid" role="alert" class="alert alert-danger">Ingresar la fehca de Nacimiento del Paciente</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !barrioPaciente.valid }">
            <label for="barrioPaciente">Barrio:</label>
            <input type="text" id="barrioAgregar" class="form-control" name="barrioPaciente" [(ngModel)]="model.barrioPaciente" #barrioPaciente="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !barrioPaciente.valid" role="alert" class="alert alert-danger">Ingresar el Barrio del Paciente</div>
        </div>
    
    
        <p-footer>
            <button
                pButton
                class="ui-button-success"
                label="Aceptar"
                icon="fas fa-check"
                type="submit">
            </button>
     
            <div class="divider"></div>

                    <button
                    pButton
                    class="ui-button-warning"
                    label="Reset"
                    icon="fas fa-ban"
                    type="submit"
                    onclick="document.getElementById('dniAgregar').value = '' ,
                             document.getElementById('nombreAgregar').value = '',
                             document.getElementById('apellidoAgregar').value = '' ,
                             document.getElementById('telefonoAgregar').value = '' ,
                             document.getElementById('direccionAgregar').value = ''"
                    >
                </button>

                <div class="pull-right">
                    <button
                        pButton
                        class="ui-button-danger"
                        label="Cancelar"
                        icon="fas fa-ban"
                        type="submit"
                        onclick="document.getElementById('dniAgregar').value = '' ,
                        document.getElementById('nombreAgregar').value = '',
                        document.getElementById('apellidoAgregar').value = '' ,
                        document.getElementById('telefonoAgregar').value = '' ,
                        document.getElementById('direccionAgregar').value = ''"
                       (click)= "cerrarModalAgregar()">
                    </button>
                    
                               
                
                </div>

        </p-footer>
    </form>
</p-dialog>

<!-- MODAL EDITAR PACIENTE -->
<p-dialog [(visible)]="modalEditarPaciente" [width]="500" [contentStyle]="{'max-height':'40%'}" action="#selectedPaciente" *ngIf="selectedPaciente">
    <p-header>
        Editar Paciente 
    </p-header>
    
    <form name="form" (ngSubmit)="f.form.valid && editarPaciente(f);" #f="ngForm" novalidate >
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !dniPaciente.valid }" >
            <label for="dniPaciente">DNI:</label>
            <input type="text" class="form-control" name="dniPaciente" [(ngModel)]="selectedPaciente.dni" #dniPaciente="ngModel" disabled />
            <div *ngIf="f.submitted && !dniPaciente.valid" role="alert" class="alert alert-danger">Ingresar el DNI del Paciente</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nombrePaciente.valid }">
            <label for="nombrePaciente">Nombre:</label>
            <input type="text" class="form-control" name="nombrePaciente" [(ngModel)]="selectedPaciente.nombre" #nombrePaciente="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !nombrePaciente.valid" role="alert" class="alert alert-danger">Ingresar el Nombre del Paciente</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !apellidoPaciente.valid }">
            <label for="apellidoPaciente">Apellido:</label>
            <input type="text" class="form-control" name="apellidoPaciente" [(ngModel)]="selectedPaciente.apellido" #apellidoPaciente="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !apellidoPaciente.valid" role="alert" class="alert alert-danger">Ingresar el Apellido del Paciente</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !telefonoPaciente.valid }">
            <label for="telefonoPaciente">Telefono:</label>
            <input type="text" class="form-control" name="telefonoPaciente" [(ngModel)]="selectedPaciente.telefono" #telefonoPaciente="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !telefonoPaciente.valid" role="alert" class="alert alert-danger">Ingresar el Telefono del Paciente</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !direccionPaciente.valid }">
            <label for="direccionPaciente">Direccion:</label>
            <input type="text" class="form-control" name="direccionPaciente" [(ngModel)]="selectedPaciente.direccion" #direccionPaciente="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !direccionPaciente.valid" role="alert" class="alert alert-danger">Ingresar la Direccion del Paciente</div>
        </div>

        
        
        <p-footer>
            <button
                pButton
                class="ui-button-success"
                label="Aceptar"
                icon="fas fa-check"
                type="submit"
                (click)="cerrarModalEditar()">
            </button>
        </p-footer>

        <p-footer>
            <div class="pull-right">
                <button
                    pButton
                    class="ui-button-danger"
                    label="Cancelar"
                    icon="fas fa-ban"
                    type="submit"
                    onclick="document.getElementById('dniAgregar').value = '' ,
                    document.getElementById('nombreAgregar').value = '',
                    document.getElementById('apellidoAgregar').value = '' ,
                    document.getElementById('telefonoAgregar').value = '' ,
                    document.getElementById('direccionAgregar').value = ''"
                    (click)="cerrarModalEditar()">
                </button>
            </div>
        </p-footer>

    </form>
</p-dialog>