<html lang="esp">
<head>
	
</head>
<body>
	
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Login
					</span>
				</div>

				<form class="login100-form validate-form" (ngSubmit)="f.form.valid && login()" #f="ngForm"noValidate>
					<div class="wrap-input100 validate-input m-b-26" data-validate="El usuario es requerido">
						<span class="label-input100">Usuario</span>
						<input class="input100" type="text" name="Usuario" placeholder="Ingrese su Usuario">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "La contraseña es requerida">
						<span class="label-input100">Constras</span>
						<input class="input100" type="password" name="Contraseña" placeholder="Ingrese su Contrase">
						<span class="focus-input100"></span>
					</div>
					<pre>
					
					
					</pre>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn"  [disable]="loading">
							Login
						</button>
					</div>
					<div class="container-login100-form-btn">
					
					<a href="src/app/login/barra/barra.component.html">login</a>
						
						
					</div>	
					
				</form>
			</div>
		</div>
	</div>
	<app-barra></app-barra> 
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>