<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/inicio" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-tachometer-alt fa-fw" ></i>&nbsp;
            Inicio
        </a>
        
        <div class="nested-menu">
            <a [routerLink]="['/medicos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <span _ngcontent-c5=""><i  class="fas fa-diagnoses fa-fw">
                </i>&nbsp; Medicos</span>
            </a>
            <li  class="nested expand">
                <ul  class="submenu">
                    <li _ngcontent-c5="">
                        <a href="javascript:void(0)" [routerLink]="['/asignar_clinica']" [routerLinkActive]="['router-link-active']">
                            <span>Asignar Clinicas</span>
                        </a>
                    </li>
                    <li _ngcontent-c5="">
                        <a  href="javascript:void(0)"[routerLink]="['']" [routerLinkActive]="['router-link-active']">
                            <span _ngcontent-c5="">submenu</span>
                        </a>
                    </li>
                    <li _ngcontent-c5="">
                        <a  href="javascript:void(0)"[routerLink]="['']" [routerLinkActive]="['router-link-active']">
                            <span _ngcontent-c5="">submenu</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
       
        <div class="nested-menu">
            <a [routerLink]="['/pacientes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <span _ngcontent-c5=""><i  class="fas fa-diagnoses fa-fw">
                </i>&nbsp; Pacientes</span>
            </a>
            <li  class="nested expand">
                <ul  class="submenu">
                    <li _ngcontent-c5="">
                        <a href="javascript:void(0)" [routerLink]="['/asignar_medicamento']" [routerLinkActive]="['router-link-active']">
                            <span>Asignar Medicamiento</span>
                        </a>
                    </li>
                    <li _ngcontent-c5="">
                        <a  href="javascript:void(0)"[routerLink]="['/asignar_medico']" [routerLinkActive]="['router-link-active']">
                            <span _ngcontent-c5="">Asignar Medico</span>
                        </a>
                    </li>
                    <li _ngcontent-c5="">
                        <a  href="javascript:void(0)"[routerLink]="['/asignar_obra']" [routerLinkActive]="['router-link-active']">
                            <span _ngcontent-c5="">Asignar Obra</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>


        <a [routerLink]="['/medicamentos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-pills fa-fw"></i>&nbsp;
            Medicamientos
        </a>
        <a [routerLink]="['/pedidos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-clipboard-list fa-fw" ></i>&nbsp;
            Pedidos
        </a>
        <a [routerLink]="['/repartidores']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-truck-loading fa-fw" ></i>&nbsp;
            Repartidores
        </a>
        <a [routerLink]="['/usuarios']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-user fa-fw" ></i>&nbsp;
            Usuarios
        </a>
        <a [routerLink]="['/obras']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-user fa-fw" ></i>&nbsp;
            Obra Social
        </a>
        <a [routerLink]="['/clinicas']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fas fa-user fa-fw" ></i>&nbsp;
            Clicinas
        </a>
       
        <div class="nested-menu">
            <a [routerLink]="['/farmacias']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <span _ngcontent-c5=""><i  class="fas fa-diagnoses fa-fw">
                </i>&nbsp; Farmacias</span>
            </a>
            <li  class="nested expand">
                <ul  class="submenu">
                    <li _ngcontent-c5="">
                        <a href="javascript:void(0)" [routerLink]="['/asignar_medicamento_farmacia']" [routerLinkActive]="['router-link-active']">
                            <span>Asignar Medicamento</span>
                        </a>
                    </li>
                    <li _ngcontent-c5="">
                        <a  href="javascript:void(0)"[routerLink]="['']" [routerLinkActive]="['router-link-active']">
                            <span _ngcontent-c5="">submenu</span>
                        </a>
                    </li>
                    <li _ngcontent-c5="">
                        <a  href="javascript:void(0)"[routerLink]="['']" [routerLinkActive]="['router-link-active']">
                            <span _ngcontent-c5="">submenu</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>






    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{'Minimizar'}}</span>
    </div>
</nav>
