
<div [@routerTransition]>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class='page-header'>
                    <h2>Medicos</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-default mb-3">
                    <div class="card-header">
                        <div>
                            <a>
                                <strong style="text-decoration: none;color: #333;">Administración de Medicos</strong>
                                <div class = 'pull-left'>
                                </div>
                            </a>
                            <button
                                pButton
                                class="ui-button-primario pull-right"
                                label="Nuevo Medico"
                                icon="fas fa-plus"
                                (click)="mostrarModalAgregarMedico()">
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <p-table #dt [columns]="cols" [value]="medicos" selectionMode="single" [(selection)]="selectedMedico"s>
                            <ng-template pTemplate="caption">
                                 <div style="text-align: right">        
                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                    <input type="text" pInputText size="50" placeholder="Filtro" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                </tr>
                                <tr>
                                  <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                     <input *ngSwitchCase="'dni'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                     <input *ngSwitchCase="'apellido'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                     <input *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                                    
                                  </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-medico let-columns="columns">
                                <tr [pSelectableRow]="medico">
                                    <td *ngFor="let col of columns">
                                            {{medico[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                
                        

                    </div>
                    <div class="card-footer">
                        <div class="pull-right">
                          

                            <button
                                pButton
                                class="ui-button-warning"
                                label="Editar"
                                icon="fas fa-pencil-alt"
                                data-toggle="modal"
                                data-target="#"
                             (click)="mostrarModalEditar(selectedMedico)">

                            </button>&nbsp;
                        
                        
                            <button
                                pButton
                                class="ui-button-danger"
                                label="Eliminar"
                                icon="fas fa-times"
                                data-toggle="modal"
                                data-target="#"
                                (click)="mostrarModalEliminar(selectedMedico)">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









<p-dialog [(visible)]="modalAgregarMedico" [width]="400" [contentStyle]="{'max-height':'40%'}" medico="selectedMedico" >
    <p-header>
        Nuevo Medico
    </p-header>

    <form name="form" (ngSubmit)="f.form.valid && cargarMedico(dniMedico.value,nombreMedico.value,apellidoMedico.value, telefonoMedico.value, matriculaMedico.value, f);" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !dniMedico.valid }" >
            <label for="dniMedico">DNI:</label>
            <input type="text" id="dniAgregar" class="form-control" name="dniMedico" [(ngModel)]="model.dniMedico" #dniMedico="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !dniMedico.valid" role="alert" class="alert alert-danger">Ingresar el DNI del Medico</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nombreMedico.valid }">
            <label for="nombreMedico">Nombre:</label>
            <input type="text" id="nombreAgregar" class="form-control" name="nombreMedico" [(ngModel)]="model.nombreMedico" #nombreMedico="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !nombreMedico.valid" role="alert" class="alert alert-danger">Ingresar el Nombre del Medico</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !apellidoMedico.valid }">
            <label for="apellidoMedico">Apellido:</label>
            <input type="text" id="apellidoAgregar" class="form-control" name="apellidoMedico" [(ngModel)]="model.apellidoMedico" #apellidoMedico="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !apellidoMedico.valid" role="alert" class="alert alert-danger">Ingresar el Apellido del Medico</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !telefonoMedico.valid }">
            <label for="telefonoMedico">Telefono:</label>
            <input type="text" id="telefonoAgregar" class="form-control" name="telefonoMedico" [(ngModel)]="model.telefonoMedico" #telefonoMedico="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !telefonoMedico.valid" role="alert" class="alert alert-danger">Ingresar el Telefono del Medico</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !matriculaMedico.valid }">
            <label for="matriculaMedico">Matricula:</label>
            <input type="text" id="matriculaAgregar" class="form-control" name="matriculaMedico" [(ngModel)]="model.matriculaMedico" #matriculaMedico="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !matriculaMedico.valid" role="alert" class="alert alert-danger">Ingresar el Matricula del Medico</div>
        </div>
    
    
        <p-footer>
            <button
                pButton
                class="ui-button-success"
                label="Aceptar"
                icon="fas fa-check"
                type="submit">
            </button>
     
            <div class="divider"></div>

                    <button
                    pButton
                    class="ui-button-warning"
                    label="Reset"
                    icon="fas fa-ban"
                    type="submit"
                    onclick="document.getElementById('dniAgregar').value = '' ,
                             document.getElementById('nombreAgregar').value = '',
                             document.getElementById('apellidoAgregar').value = '' ,
                             document.getElementById('telefonoAgregar').value = '' ,
                             document.getElementById('matriculaAgregar').value = ''"
                    >
                </button>

                <div class="pull-right">
                    <button
                        pButton
                        class="ui-button-danger"
                        label="Cancelar"
                        icon="fas fa-ban"
                        type="submit"
                        onclick="document.getElementById('dniAgregar').value = '' ,
                        document.getElementById('nombreAgregar').value = '',
                        document.getElementById('apellidoAgregar').value = '' ,
                        document.getElementById('telefonoAgregar').value = '' ,
                        document.getElementById('matriculaAgregar').value = ''"
                       (click)= "cerrarModalAgregar()">
                    </button>
                    
                               
                
                </div>

        </p-footer>
    </form>
</p-dialog>




<p-dialog [(visible)]="modalEliminarMedico" [width]="500" [contentStyle]="{'max-height':'40%'}">
    <p-header>
        Esta seguro que desea elminar este medico?
    </p-header>
    <p-footer>
            <button
                pButton
                class="ui-button-success"
                
                label="Aceptar"
                icon="fas fa-check"
                type="submit"
                (click)="eliminarMedico(selectedMedico)">
            </button>

                <button
                pButton
                class="ui-button-danger"
                label="Cancelar"
                icon="fas fa-ban"
                type="submit"
                (click)="cerrarModalEliminar()">
            </button>
        </p-footer>

</p-dialog>



<p-dialog [(visible)]="modalEditarMedico" [width]="500" [contentStyle]="{'max-height':'40%'}" action="#selectedMedico" >
    <p-header>
        Editar Medico 
    </p-header>
    
    <form name="form" (ngSubmit)="f.form.valid && cargarMedico(dniMedico.value,nombreMedico.value,apellidoMedico.value, telefonoMedico.value, matriculaMedico.value, f);" #f="ngForm" novalidate >
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !dniMedico.valid }" >
            <label for="dniMedico">DNI:</label>
            <input type="text" id="dniMedico" class="form-control" name="dniMedico" [(ngModel)]="model.dniMedico" #dniMedico="ngModel" required  />
            <div *ngIf="f.submitted && !dniMedico.valid" role="alert" class="alert alert-danger">Ingresar el DNI del Medico</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nombreMedico.valid }">
            <label for="nombreMedico">Nombre:</label>
            <input type="text" id="nombreMedico" class="form-control" name="nombreMedico" [(ngModel)]="model.nombreMedico" #nombreMedico="ngModel" autocomplete="on" required />
            <div *ngIf="f.submitted && !nombreMedico.valid" role="alert" class="alert alert-danger">Ingresar el Nombre del Medico</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !apellidoMedico.valid }">
            <label for="apellidoMedico">Apellido:</label>
            <input type="text" id="apellidoMedico" class="form-control" name="apellidoMedico" [(ngModel)]="model.apellidoMedico" #apellidoMedico="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !apellidoMedico.valid" role="alert" class="alert alert-danger">Ingresar el Apellido del Medico</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !telefonoMedico.valid }">
            <label for="telefonoMedico">Telefono:</label>
            <input type="text" id="telefonoMedico" class="form-control" name="telefonoMedico" [(ngModel)]="model.telefonoMedico" #telefonoMedico="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !telefonoMedico.valid" role="alert" class="alert alert-danger">Ingresar el Telefono del Medico</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !matriculaMedico.valid }">
            <label for="matriculaMedico">Matricula:</label>
            <input type="text" id="matriculaMedico" class="form-control" name="matriculaMedico" [(ngModel)]="model.matriculaMedico" #matriculaMedico="ngModel" autocomplete="off" required />
            <div *ngIf="f.submitted && !matriculaMedico.valid" role="alert" class="alert alert-danger">Ingresar el Matricula del Medico</div>
        </div>
    
    
        <p-footer>
            <button
                pButton
                class="ui-button-success"
                label="Aceptar"
                icon="fas fa-check"
                type="submit">
            </button>
        </p-footer>

        <p-footer>
            <div class="pull-right">
                <button
                    pButton
                    class="ui-button-danger"
                    label="Cancelar"
                    icon="fas fa-ban"
                    type="submit"
                    onclick="document.getElementById('dniAgregar').value = '' ,
                    document.getElementById('nombreAgregar').value = '',
                    document.getElementById('apellidoAgregar').value = '' ,
                    document.getElementById('telefonoAgregar').value = '' ,
                    document.getElementById('matriculaAgregar').value = ''"
                    (click)="cerrarModalEditar()">
                </button>
            </div>
        </p-footer>

    </form>
</p-dialog>